[Unit]
Description=antimicrox
Requires=nodm.service
After=nodm.service

[Service]
Restart=always
User=pi
Group=pi
EnvironmentFile=/etc/default/eggnogg

WorkingDirectory=/home/pi
ExecStart=/usr/bin/antimicrox --profile /home/pi/.config/antimicrox/B.gamecontroller.amgp

[Install]
WantedBy=graphical.target
