[Unit]
Description=Eggnogg Plus on a Raspberry Pi
Requires=mpv.service
After=mpv.service

[Service]
Restart=always
User=pi
Group=pi
EnvironmentFile=/etc/default/eggnogg

WorkingDirectory=/usr/local/games/eggnoggplus-linux
ExecStart=/usr/local/games/eggnoggplus-linux/eggnoggplus

[Install]
WantedBy=multi-user.target
