[Unit]
Description=Eggnogg Plus on a Raspberry Pi
After=mpv.service
After=pulseaudio.service
Wants=pulseaudio.service

[Service]
Restart=always
User=pi
Group=pi
EnvironmentFile=/etc/default/eggnogg

Restart=always
RestartSec=5s
WorkingDirectory=/usr/local/games/eggnoggplus-linux
ExecStart=/usr/local/games/eggnoggplus-linux/eggnoggplus

[Install]
#WantedBy=multi-user.target
WantedBy=graphical.target
