[Unit]
Description=Eggnogg Plus on a Raspberry Pi
Require=sound.target
After=mpv.service

[Service]
Restart=always
User=pi
Group=pi
EnvironmentFile=/etc/default/eggnogg

Restart=always
RestartSec=5s
WorkingDirectory=/usr/local/games/eggnoggplus-linux
ExecStart=/usr/local/games/eggnoggplus-linux/eggnoggplus

[Install]
WantedBy=multi-user.target
