[Unit]
Description=PulseAudio system server
# DO NOT ADD ConditionUser=!root

[Service]
Type=notify

User=pi
Environment=HOME=/home/pi
Environment=XDG_RUNTIME_DIR=/run/user/1000

ExecStart=pulseaudio --daemonize=no --log-target=journal -vvvv
#ExecStart=pulseaudio --daemonize=no --system --log-target=journal -vvvv
Restart=on-failure

RestartSec=10

[Install]
WantedBy=multi-user.target
